{% extends 'base.html' %}
{% load static %}

{% block container %}
	<h1 class="h3 mb-4 text-gray-800"><a href="{% url 'cp:word-create' %}">Create Word</a></h1>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Words</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Word</th>
							<th>Created at</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>Word</th>
							<th>Created at</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
						{% for word in words %}
							<tr>
								<td>{{ word.id }}</td>
								<td>{{ word.name }}</td>
								<td>{{ word.created_at }}</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-primary" href="{% url 'cp:word-show' id=word.id %}">Show</a>
										<a class="btn btn-success" href="{% url 'cp:word-edit' id=word.id %}">Edit</a>
										<a class="btn btn-danger" href="{% url 'cp:word-delete' id=word.id %}">Delete</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{% static 'js/cp/word/script.js' %}"></script>
{% endblock %}