{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/blog/main.css' %}">


</head>

<body>
  <header class="site-header">
      <nav class="navbar navbar-expand-md   fixed-top" style="background-color:#4e73df;">
        <div class="container">
          <a class="navbar-brand mr-4 text-white" >Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'landpage'%}" >Home</a>
              <a class="nav-item nav-link" href="{% url 'about'%}">About</a>
            </div>
            <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
              <input class="form-control mr-sm-2  text-left  border-top-0 border-right-0 border-left-0 border-bottom border border-light btn btn-transparent" type="search" placeholder="Search..." name="query" aria-label="Search">
              <button class="btn btn-outline-info my-2 my-sm-0"  type="submit" style="background-color:white;">Search</button>
            </form>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
			  {% if user.is_authenticated %}
				{% if user.is_staff %}
					<a class="nav-item nav-link" href="{% url 'cp:dashboard-index' %}">Manage Blog</a>
				{% endif %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user }}</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
<section class="mt-5">
    
  <div class="container media">
    <img src="{{post.image.url}}"  class="mr-3" height="200px" width="300px"> 
    <div class="media-body">
        <h3>{{post.title}}</h3>
        <blockquote>{{post.body}}</blockquote>
        {% for tag in post.tag.all %}
        <p><a href="/showpost/withtag/{{ tag.id }}">{{ tag }}</a></p>
        {% endfor %} 
        <!-- todo: make tags href -->
        <div>
         <span>{{post.author}}</span>
        <span>{{post.created_at}}</span>
        </div>
        <span>Likes: {{ post_likes }}</span><br>
		<span>Dislikes: {{ post_dislikes }}</span>
		{% if request.user.is_authenticated %}
        <form method="post" action="like/{{post.id}}">
            {% csrf_token %}  
            {% if is_liked == None %}
              <input type="hidden" name="like" value="0">
              <button type="submit" class= "btn btn-outline-danger ">Dislike</button>
            {% endif %}
        </form>
        <form method="post" action="like/{{post.id}}">
            {% csrf_token %}
            {% if is_liked == None %}
              <input type="hidden" name="like" value="1">
              <button type="submit" class= "btn btn-outline-primary ">Like</button>
            {% endif %}
		</form>
		{% endif %}
    </div>
    
</div>  
</section>
<hr>
</section>
<hr>
<section>
    <div class="container ">
            {{comments.count}} comment {{comments|pluralize}}
            {% for comment in comments %}
            <blockquote class="blockquote">
              <p> {{comment.removeWords}}</p>
              <footer class="blockquote-footer">by  <cite title="Source Title">{{comment.user|capfirst}}</cite>
                <div>on : <span> {{comment.created_at}}</span></div>
            </footer> 
           </blockquote>
            
           <div class="container mt-2">
{% for reply in comment.replies.all %}
               <blockquote class="blockquote">
                <p><small> {{reply.removeWords}}</small></p>
                <footer class="blockquote-footer"><small> by  <cite title="Source Title">{{reply.user|capfirst}}</cite></small>
                <div>on : <span> {{reply.created_at}}</span></div>
                </footer>
               </blockquote>
{% endfor %}
               <div class="row mb-4 ">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name='comment_id' value= '{{comment.id}}'>
                    {{ comment_form.as_p }}
                    {% if request.user.is_authenticated %}
                    <input type="submit" value="Reply" class="btn btn-outline-info mr-sm-4 ">
                    {% else %}
                    <input type="submit" value="Reply" class="btn btn-outline-info mr-sm-4 " disabled>
                    {% endif %}
                </form>
               </div>
           </div>
           {% endfor %}
           
                <form method="POST">
          
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    {% if request.user.is_authenticated %}
                    <input type="submit" value="Add_comment" class="btn btn-outline-info mr-sm-4 ">
                    {% else %}
                    <input type="submit" value="Add_comment" class="btn btn-outline-info mr-sm-4 " disabled>
                    {% endif %}
                </form>
          
             </div>
</section>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
