{% extends 'base.html' %}
{% load static %}

{% block container %}
	<h1 class="h3 mb-4 text-gray-800"><a href="{% url 'cp:comment-index' %}">Go back</a></h1>

	<form>
		<div class="row">
			<label for="id" class="col-sm-2 col-form-label">ID</label>
			<div class="col-sm-10">
				<input type="text" id="id" class="form-control-plaintext" value="{{ comment.id }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="content" class="col-sm-2 col-form-label">Content</label>
			<div class="col-sm-10">
				<input type="text" id="content" class="form-control-plaintext" value="{{ comment.content }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="post" class="col-sm-2 col-form-label">Post</label>
			<div class="col-sm-10">
				<input type="text" id="post" class="form-control-plaintext" value="{{ comment.post }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="user" class="col-sm-2 col-form-label">User</label>
			<div class="col-sm-10">
				<input type="text" id="user" class="form-control-plaintext" value="{{ comment.user }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="created-at" class="col-sm-2 col-form-label">Created at</label>
			<div class="col-sm-10">
				<input type="text" id="created-at" class="form-control-plaintext" value="{{ comment.created_at }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="updated-at" class="col-sm-2 col-form-label">Updated at</label>
			<div class="col-sm-10">
				<input type="text" id="updated-at" class="form-control-plaintext" value="{{ comment.updated_at }}" readonly>
			</div>
		</div>
	</form>
{% endblock %}

{% block script %}
	<script src="{% static 'js/cp/comment/script.js' %}"></script>
{% endblock %}