{% extends 'base.html' %}
{% load static %}

{% block container %}
	<h1 class="h3 mb-4 text-gray-800"><a href="{% url 'cp:user-index' %}">Go back</a></h1>

	<form>
		<div class="row">
			<label for="id" class="col-sm-2 col-form-label">ID</label>
			<div class="col-sm-10">
				<input type="text" id="id" class="form-control-plaintext" value="{{ user.id }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="name" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" id="name" class="form-control-plaintext" value="{{ user }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="username" class="col-sm-2 col-form-label">Username</label>
			<div class="col-sm-10">
				<input type="text" id="username" class="form-control-plaintext" value="{{ user.username }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="email" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
				<input type="text" id="email" class="form-control-plaintext" value="{{ user.email }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="superuser" class="col-sm-2 col-form-label">Superuser</label>
			<div class="col-sm-10">
				<input type="text" id="superuser" class="form-control-plaintext" value="{{ user.is_superuser }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="staff" class="col-sm-2 col-form-label">Staff</label>
			<div class="col-sm-10">
				<input type="text" id="staff" class="form-control-plaintext" value="{{ user.is_staff }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="active" class="col-sm-2 col-form-label">Active</label>
			<div class="col-sm-10">
				<input type="text" id="active" class="form-control-plaintext" value="{{ user.is_active }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="last-login" class="col-sm-2 col-form-label">Last login</label>
			<div class="col-sm-10">
				<input type="text" id="last-login" class="form-control-plaintext" value="{{ user.last_login }}" readonly>
			</div>
		</div>
		<div class="row">
			<label for="date-joined" class="col-sm-2 col-form-label">Date joined</label>
			<div class="col-sm-10">
				<input type="text" id="date-joined" class="form-control-plaintext" value="{{ user.date_joined }}" readonly>
			</div>
		</div>
	</form>
{% endblock %}

{% block script %}
	<script src="{% static 'js/cp/user/script.js' %}"></script>
{% endblock %}